body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #ffffff;
}

header {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #2c2c2c;
    border-radius: 8px;
}

h2 {
    color: #f39c12;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Garante que o footer não se sobreponha ao conteúdo */
    bottom: 0; /* Faz o footer ficar na parte inferior da página */
    width: 100%; /* Garante que o footer ocupe toda a largura */
}
